.card {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  border-radius: 10px;
  box-sizing: border-box;
  margin: 0;
  overflow: hidden;
  background-color: #222222;
}

.card__image {
  width: 100%;
  margin: 0;
}

.card__caption {
  display: flex;
  flex-direction: column;
  padding: 14px 12px;
  row-gap: 10px;
  margin: 0;
}

.card__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
}

.card__title {
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  margin: 0;
}

.card__time {
  min-width: 16px;
  height: 16px;
  border: 1px solid white;
  border-radius: 50%;
  margin-left: 5px;
  cursor: pointer;
}

.card__time_type_long {
  background-color: #2a1c1c;
}

.card__time_type_short {
  background-color: #2BE080;
}

.card__time_type_selected {
  background: transparent url(../../images/cross-icon.svg) no-repeat center / contain;
  min-width: 8px;
  height: 8px;
  padding: 2px;
  border: 0;
  border-radius: 0;
}

.card__duration {
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  color: #8B8B8B;
  margin: 0;
}
