.slide-menu {
  display: none;
  width: 100%;
  max-width: 520px;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  margin: 0;
  padding: 159px 59px 92px;
  box-sizing: border-box;
  background-color: #202020;
  z-index: 2;
}

.slide-menu_state_open {
  display: none;
}

.slide-menu__link {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  text-decoration: none;
  color: #FFFFFF;
  margin: 0;
}

.slide-menu__link_type_active {
  font-weight: 500;
  padding-bottom: 7px;
  border-bottom: #FFFFFF 2px solid;
}

.slide-menu__profile-link {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  column-gap: 17px;
  text-decoration: none;
  margin: auto 0 0;
}

.slide-menu__account {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  text-decoration: none;
  color: #FFFFFF;
  margin: 0;
}

.slide-menu__account-logo {
  width: 11.5px;
  height: 14px;
  background-color: #313131;
  padding: 8px 7.25px;
  border-radius: 4px;
  margin: 0;
}

.slide-menu__close-icon {
  position: absolute;
  top: 29px;
  right: 29px;
}

@media (max-width: 768px) {
  .slide-menu {
    display: none;
    flex-direction: column;
    row-gap: 28px;
    align-items: center;
  }

  .slide-menu_state_open {
    display: flex;
  }
}

@media (max-width: 480px) {
  .slide-menu {
    padding: 144px 51px 48px;
    row-gap: 24px;
  }

  .slide-menu__link {
    font-size: 18px;
    line-height: 22px;
  }
}
