.nav-tab {
  width: 100%;
  margin: 0;
  padding: 18px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-tab__reg-link {
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  text-align: right;
  text-decoration: none;
  margin: 0 30px 0 auto;
  color: #FFFFFF;
  cursor: pointer;
  transition: .5s;
}

.nav-tab__reg-link:hover {
  color: #3DDC84;
  text-decoration: underline solid;
}

.nav-tab__login-button {
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  color: #000000;
  background-color: #3DDC84;
  border: 0;
  border-radius: 3px;
  padding: 8px 20px;
  margin: 0;
  cursor: pointer;
  transition: .5s;
}

.nav-tab__login-button:hover {
  transform: scale(1.05, 1.05);
}

@media (max-width: 320px) {
  .nav-tab__reg-link {
    font-size: 10px;
    margin: 0 14px 0 auto;
  }

  .nav-tab__login-button {
    font-size: 10px;
    padding: 5px 12px;
  }
}
